@tailwind base;

@tailwind components;

@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #dot {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
}

/* .fade-in-10-15 {
    opacity: 0;
    animation: fadeInAnimation ease-in 15s forwards;
  }
  

.fade-in-5-10 {
    opacity: 0;
    animation: fadeInAnimationDelay 10s forwards;
  }
  
  .fade-in-0-5 {
    opacity: 0;
    animation: fadeInAnimation 5s forwards;
  } */

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
    }  
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInAnimationDelay {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
